Repository projek-xyz/slim-flysystem, changes with the labels that .github/labeler.yml gives for each.
All labels: api, dependencies, documentation, enhancement, integration

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: ["src/**.php"]

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "composer.json"
          - "package.json"
          - "pnpm-lock.yaml"

documentation:
  - changed-files:
      - any-glob-to-any-file: ["**.md"]

enhancement:
  - changed-files:
      - any-glob-to-any-file: "**"

experimental:
  - head-branch: ["^test", "test"]

features:
  - head-branch: ["^feat", "feat"]

fixes:
  - head-branch: ["^fix", "fix"]

integration:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**.yml"
          - "scripts/**"
          - "tests/**.php"

chore: update some dotfiles
  .codeclimate.yml
  .coveralls.yml
  .editorconfig
Labels: enhancement

chore: add `composer.lock` and `package.json` file
  composer.lock
  package.json
Labels: dependencies, enhancement

chore: update readme and license file
  .travis.yml
  LICENSE
  README.md
Labels: documentation, enhancement

chore: fix test command
  .github/workflows/test.yml
Labels: enhancement

feat: switch from `phpunit` to `kahlan`
  .codeclimate.yml
  .github/workflows/test.yml
  composer.json
  composer.lock
  tests/.gitignore
  tests/config.php
  tests/phpmd.xml
  tests/phpunit.xml
  tests/spec/Flysystem.spec.php
  tests/src/FlysystemProviderTest.php
  tests/src/FlysystemTest.php
  tests/src/TestCase.php
Labels: dependencies, enhancement, integration

chore: define global test settings
  tests/config.php
  tests/spec/Flysystem.spec.php
Labels: enhancement, integration

chore: simplify main class method by using magic `__call`
  src/Flysystem.php
Labels: api, enhancement

chore: update dependencies
  composer.json
  composer.lock
Labels: dependencies, enhancement

chore: fix typehint
  src/Flysystem.php
Labels: api, enhancement

chore(deps): upgrade dependencies
  composer.lock
Labels: enhancement

ci: drop codeclimate
  .github/workflows/test.yml
Labels: enhancement

ci: fix release permissions
  .github/workflows/release.yml
Labels: enhancement

ci: fix coverage file path
  .github/workflows/test.yml
Labels: enhancement
